$colors: (
    'common': (
        'white': #ffffff,
        'black': #072032,
        'black-2': #000,
        'black-3': #242e45,
        'black-4': #2b265d,
        'sky': #541f5c,
        'fruit': #ebfeb2,
        'whitest': #f8faf5,
        'cherubic ': #ffe6f1,
        'mint': #c8fddd,
        'lime': #8CDE59,
        'yellow': #ffb72e,
        'pisces ': #aa3fff,
        'apricot ': #b17856,
        'green ': #1c4e4e,
        'freckles ': #eff5f4,
        'conifer ': #dff3fc,
        'greyish ': #c0b1ff,
    ),
    'grey': (
        '1':#5c6972,
        '2':#555,
        '3':#878898,
        '4':#525356,
        '5':#f3f5f9,
        '6':#f5f4ff,
        '7':#898d95,    
        '8':#f8f8f8,     
        '9':#8885a6,     
        '10':#f1f1ff,     
        '11':#968698,     
    ),
    'theme': (
        'primary': #9CEE69,
        '1': #6c60dc,
        '2': #185757,
        '3': #ef4074,
        '4': #02a95c,
        '5': #f43b00,
    ),
    'border': (
        '1': #bababa,
        '2': #e6e8ea,
        '3': #242e4526,
    ),
    'rgba': (
        '1': rgba(255, 255, 255, 0.8),
        '2': rgba(255, 255, 255, 0.75),
        '3': rgba(255, 255, 255, 0.65),
    ),
);