
// font url

$font-url: 'https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Space+Grotesk:wght@300..700&family=Manrope:wght@200..800&family=DM+Serif+Display:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Yeseva+One&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Staatliches&display=swap';

@font-face {
    font-family: '"Colasta" Sans Serif';
    src: url('../fonts/Colasta.ttf') format('truetype'),
    url('../fonts/Colasta-Light.ttf') format('truetype'),
    url('../fonts/Colasta-Bold.ttf') format('truetype'),
    url('../fonts/Colasta-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// font family
$font-family: (
    'ff': (
        'body': '"DM Sans", sans-serif',
        'heading': "'Colasta', sans-serif",
        'jakarta': "'Plus Jakarta Sans', sans-serif",
        'grotesk': "'Space Grotesk', sans-serif",
        'manrope': "'Manrope', sans-serif",
        'dmserif': "'DM Serif Display', serif",
        'poppins': "'Poppins', sans-serif",
        'roboto': "'Roboto', sans-serif",
        'yeseva': "'Yeseva One', serif",
        'libre': "'Libre Baskerville', serif",
        'open': "'Open Sans', sans-serif",
        'inter': "'Inter', sans-serif",
        'staat': "'Staatliches', sans-serif",
        'fontawesome': '"Font Awesome 6 Pro"',
    )
);
// font size
$font-size: (
    'fz': (
        'body': 14px,
        'p': 16px,
    )
);