@use '../utils' as *;

/*----------------------------------------*/
/*  2.4 Breadcrumb
/*----------------------------------------*/

.#{$theme-prifix}-breadcrumb{
    &-digi{
        &-space{
            padding-top: 240px;
            padding-bottom: 60px;
            @media #{$xs} {
                padding-top: 180px;
            }
            &-2{
                padding-top: 290px;
                padding-bottom: 135px;
                @media #{$xs} {
                    padding-top: 180px;
                }
            }
        }
        &-shape{
            top: 50%;
            transform: translateY(-50%);
            left: 13%;
            @media #{$xs} {
                top: 25%;
            }
            &-2{
                bottom: 0;
                right: 174px;
                @media #{$md,$sm,$xs} {
                    right: 100px;
                } 
            }
            &-3{
                top: 173px;
                left: 74px; 
                @media #{$md,$sm,$xs} {
                    left: 0; 
                } 
            }
        }
    }
    &-shape{
        position: absolute;
        right: 0;
        width: 51%;
        z-index: -1;
        top: 130px;
    }
    &-dvdr{
        width: 3px;
        height: 3px;
        margin: 0 10px;
        transform: translateY(-3px);
    }
    &-cpr{
        &-spacing{
            padding-top: 240px;
            padding-bottom: 130px;
            @media #{$xs} {
                padding-top: 170px;
                padding-bottom: 100px;
            }
            &-2{
                padding-top: 275px;
                padding-bottom: 160px;
                @media #{$sm} {
                    padding-top: 190px;
                    padding-bottom: 120px;
                }
                @media #{$xs} {
                    padding-top: 170px;
                    padding-bottom: 100px;
                } 
            }  
        }
        &-overly{
            background: rgba(36, 46, 69, 0.65);
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
        &-list{
            & .dvdr{
                border-radius: 2px;
                width: 4px;
                height: 4px;
                background: #fff;
                display: inline-block;
                margin: 0 17px 0px 13px;
            }
        }
    }
    &-lwr{
        &-overly{
            background: rgba(0, 23, 23, 0.45);
        }
        &-spacing{
            padding-top: 150px;
            padding-bottom: 144px;        
            @media #{$xs} {
                padding-top: 120px;
                padding-bottom: 114px;
            }
            &-2{
                padding-top: 160px;
                padding-bottom: 160px;
                @media #{$xs} {
                    padding-top: 120px;
                    padding-bottom: 114px;
                }
            }
        }
    }
    &-med{
        &-bg{
            background: linear-gradient(-45deg, #b8c7eb 0%, #fad7d7 50.5%, #eddff7 91%);
        }
        &-spacing{
            padding-top: 145px;
            padding-bottom: 335px;
            &-2{
                padding-top: 150px;
                padding-bottom: 140px;
                @media #{$md,$sm,$xs} {
                    padding-bottom: 40px;
                }
                @media #{$xs} {
                    padding-top: 100px;
                }
            }
        }
        &-thumb{
            margin-right: -166px;
            @media #{$xxl,$xl,$lg,$md,$sm,$xs} {
                margin-right: 0;
            }
            & img{
               float: right;
            }
            &-3{
                bottom: 0;
                right: 0;
                z-index: -1;
                @media #{$lg,$md,$sm,$xs} {
                    width: 55%;
                    & img{
                        width: 100%;
                    }
                }
            }
            &-4{
                margin-right: -66px;
                @media #{$lg,$md,$sm,$xs} {
                    margin-right: 0;
                }
            }
            &-5{
                position: absolute;
                right: 0;
                z-index: 1;
                bottom: 0;
                @media #{$md,$sm,$xs} {
                    position: inherit;
                }
                & img{
                    width: 100%;
                }
            }
        }
        &-shape{
            right: 0;
            bottom: 116px;
            width: 20%;
        }
        &-3{
            &-shape{
                top: 107px;
                right: 160px;
            }
        }
    }
    &-salon{
        &-spacing{
            padding-top: 230px;
            padding-bottom: 110px;
            @media #{$md,$sm,$xs} {
                padding-top: 130px;
                padding-bottom: 40px;
            }
        }
        &-content{
            & .tp-hero-salon-shape {
                top: 21%;
                left: -168px;
                @media #{$lg,$md,$sm,$xs} {
                    left: 0;
                }
            }
        }
        &-shape{
            left: 50px;
            bottom: 43px;
            &-2{
                position: absolute;
                right: -221px;
                bottom: 0;
            }
        }
        &-heart{
            width: 90px;
            height: 90px;
            text-align: center;
            line-height: 90px;
            background: var(--tp-theme-3);
            left: 9% !important;
            top: 44% !important;
        }
        &-thumb{
            &-img{
                &-2{
                    margin-right: -130px;
                    @media #{$lg,$md,$sm,$xs} {
                        margin-right: 0;
                    }
                }
                &-3{
                    margin-right: -46px;
                    @media #{$lg,$md,$sm,$xs} {
                        margin-right: 0;
                    }
                }
            }
        }
    }
    &-chr{
        &-spacing{
            padding-top: 144px;
            padding-bottom: 190px;
            @media #{$md,$sm,$xs} {
                padding-bottom: 30px;
                text-align: center;
            }
            @media #{$xs} {
                padding-top: 100px;
            }
        }
        &-shape{
            bottom: 0;
            left: 0;
            z-index: 1;
            &-2{
                left: 0;
                bottom: 0;
                z-index: -1;
                @media #{$x3l,$xxl,$xl,$lg,$md,$sm,$xs} {
                    display: none;
                }
            }
            &-3{
                left: 0;
                top: 25%;
                @media #{$xl,$lg} {
                    top: 15%;
                }
                @media #{$md,$sm,$xs} {
                    top: 5%;
                }
            }
            &-4{
                left: 220px;
                top: 76px;
                @media #{$xl,$lg,$md,$sm,$xs} {
                    left: 0;
                }
            }
        }
        &-thumb{
            @media #{$md,$sm,$xs} {
                text-align: center!important;
            }
        }
        &-meinus{
            margin-right: -120px;
            @media #{$xl,$lg,$md,$sm,$xs} {
                margin-right: 0;
            }
        }
    }
    &-it{
        &-content{
            @media #{$xs} {
                & br{
                    display: none;
                }
            }
            @media #{$lg,$md,$sm,$xs} {
                & br{
                    display: none;
                }
            }
        }
        &-border{
            width: 350px;
            height: 1px;
            background: rgba(255, 255, 255, 0.3);
            position: relative;
            @media #{$xs} {
                width: 100%;
            }
            &::before{
                position: absolute;
                content: "";
                width: 60px;
                height: 1px;
                left: 0;
                top: 0;
                background: var(--tp-common-white);
            }
        }
        &-spacing{
            padding-top: 246px;
            padding-bottom: 153px;
            @media #{$md,$sm,$xs} {
                padding-top: 146px;
                padding-bottom: 120 px;
            }
        }
        &-company{
            & .item-border{
                border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            }
        }
    }
    &-pizza{
        &-spacing{
            padding-top: 243px;
            padding-bottom: 150px;
            @media #{$md,$sm,$xs} {
                padding-top: 174px;
                padding-bottom: 108px;
            }
        }
        &-shape{
            bottom: 0;
            left: 0;
            z-index: -1;
            &-2{
                right: 0;
                top: 100px;
                width: 10%;
            }
        }
    }
}