@use '../utils' as *;

/*----------------------------------------*/
/*  2.7 instagram
/*----------------------------------------*/

.tp-instagram{
    &-pizza{
        &-icon{
            top: 50%;
            left: 0;
            right: 0;
            text-align: center;
            z-index: 2;
            display: inline-block;
            transform: translateY(-50%);
            transition: all .4s ease;
            & span{
                background: var(--tp-common-white);
                color: var(--tp-common-black);
                font-size: 26px;
                position: relative;
                opacity: 0;
                visibility: hidden;
                transform: scale(0);
                transition: all .4s ease;
                width: 60px;
                height: 60px;
                display: inline-block;
                line-height: 60px;
                border-radius: 50%;
            }
        }
        &-thumb{
            overflow: hidden;
            position: relative;
            border-radius: 5px;
            & a{
                display: block;
                position: relative;
                &::after{
                    background: rgba(1, 15, 28, 0.35);
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 100%;
                    bottom: 0;
                    left: 0;
                    opacity: 0;
                    transition: all .4s ease;
                }
            }
            & img{
                transition: all .4s ease;
                border-radius: 5px;
            }
            &:hover{
                & a{
                    &::after{
                        opacity: 1;
                    }
                }
                & span{
                    opacity: 1;
                    visibility: visible;
                    transform: scale(1);
                }
                & img{
                    transform: scale(1.1);
                }
            }
        }
        &-leag{
            bottom: 0;
            left: 0;
            width: 10%;
            z-index: 2;
        }
    }
}