@use '../utils' as *;

/*----------------------------------------*/
/*  2.10 Preloader
/*----------------------------------------*/


.preloader{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99999;
	display: flex;
	align-items: center;
	justify-content: center;
    &.currency-loading{
        background-color: #03071C;
    }
    &.salon-loading{
        background: var(--tp-theme-3);
    }
    &.chr-loading{
        background: var(--tp-theme-4);
    }
    &.cpr-loading{
        background: var(--tp-common-pisces);
    }
    &.digi-loading{
      background: var(--tp-theme-primary);
    }
    &.it-loading{
      background: var(--tp-theme-4);
    }
    &.lwr-loading{
      background: var(--tp-common-apricot);
    }
    &.med-loading{
      background: var(--tp-theme-1);
    }
    &.pizza-loading{
      background: var(--tp-theme-5);
    }
}

// currency-loader
.loader {
  transform: translateZ(1px);
}
.loader:after {
  content: '$';
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  text-align: center;
  line-height:40px;
  font-size: 32px;
  font-weight: bold;
  background: #FFD700;
  color: #DAA520;
  border: 4px double ;
  box-sizing: border-box;
  box-shadow:  2px 2px 2px 1px rgba(0, 0, 0, .1);
  animation: coin-flip 4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes coin-flip {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}
    


// salon-loader
.salon-loader {
    width: fit-content;
    font-size: 120px;
    line-height: 1.5;
    font-family: system-ui,sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #0000;
    -webkit-text-stroke: 1px #000;
    background:
    radial-gradient(1.13em at 50% 1.6em,#000 99%,#0000 101%) calc(50% - 1.6em) 0/3.2em 100% text,
    radial-gradient(1.13em at 50% -0.8em,#0000 99%,#000 101%) 50% .8em/3.2em 100% repeat-x  text;
    animation: l9 2s linear infinite;
    @media #{$xs} {
        font-size: 70px;
    }
  }
  .salon-loader:before {
    content: "Charm";
  }
  @keyframes l9 {
    to {background-position: calc(50% + 1.6em) 0,calc(50% + 3.2em) .8em}
}

// charity-loader
.chr-loader {
    width: 85px;
    aspect-ratio: .75;
    --c: no-repeat linear-gradient(#fff 0 0);
    background: 
      var(--c) 0%   50%,
      var(--c) 50%  50%,
      var(--c) 100% 50%;
    animation: l7 1s infinite linear alternate;
}
@keyframes l7 {
0%  {background-size: 20% 50% ,20% 50% ,20% 50% }
20% {background-size: 20% 20% ,20% 50% ,20% 50% }
40% {background-size: 20% 100%,20% 20% ,20% 50% }
60% {background-size: 20% 50% ,20% 100%,20% 20% }
80% {background-size: 20% 50% ,20% 50% ,20% 100%}
100%{background-size: 20% 50% ,20% 50% ,20% 50% }
}

// corporate-loader
.cpr-loader{
    width: 120px;
    aspect-ratio: 1;
    --c:no-repeat linear-gradient(#fff 0 0);
    background: 
      var(--c) 0    0,
      var(--c) 0    100%, 
      var(--c) 50%  0,  
      var(--c) 50%  100%, 
      var(--c) 100% 0, 
      var(--c) 100% 100%;
    background-size: 8px 50%;
    animation: l7-0 1s infinite;
    position: relative;
    overflow: hidden;
}
  .cpr-loader:before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fff;
    top: calc(50% - 4px);
    left: -8px;
    animation: inherit;
    animation-name: l7-1;
}
  
  @keyframes l7-0 {
   16.67% {background-size:8px 30%, 8px 30%, 8px 50%, 8px 50%, 8px 50%, 8px 50%}
   33.33% {background-size:8px 30%, 8px 30%, 8px 30%, 8px 30%, 8px 50%, 8px 50%}
   50%    {background-size:8px 30%, 8px 30%, 8px 30%, 8px 30%, 8px 30%, 8px 30%}
   66.67% {background-size:8px 50%, 8px 50%, 8px 30%, 8px 30%, 8px 30%, 8px 30%}
   83.33% {background-size:8px 50%, 8px 50%, 8px 50%, 8px 50%, 8px 30%, 8px 30%}
}
  
  @keyframes l7-1 {
   20%  {left:0px}
   40%  {left:calc(50%  - 4px)}
   60%  {left:calc(100% - 8px)}
   80%,
   100% {left:100%}
}

// digital-loader
.digi-loader {
  position: relative;
  width: 120px;
  height: 140px;
  background-image: radial-gradient(circle 30px, #fff 100%, transparent 0),
  radial-gradient(circle 5px, #fff 100%, transparent 0),
  radial-gradient(circle 5px, #fff 100%, transparent 0),
  linear-gradient(#FFF 20px, transparent 0);
  background-position: center 127px , 94px 102px , 16px 18px, center 114px;
  background-size: 60px 60px, 10px 10px , 10px 10px , 4px 14px;
  background-repeat: no-repeat;
  z-index: 10;
  perspective: 500px;
}
.digi-loader::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius:50%;
  border: 3px solid #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -55%) rotate(-45deg);
  border-right-color: transparent;
  box-sizing: border-box;
}
.digi-loader::after {
  content: '';
  position: absolute;
  height: 80px;
  width: 80px;
  transform: translate(-50%, -55%) rotate(-45deg) rotateY(0deg) ;
  left: 50%;
  top: 50%;
  box-sizing: border-box;
  border: 7px solid #03071C;
  border-radius:50%;
  animation: rotate 0.5s linear infinite;
}
@keyframes rotate {
to{transform: translate(-50%, -55%) rotate(-45deg) rotateY(360deg)   }
}
 
// it-solution-loader

.it-loader {
  width: 120px;
  height: 45px;
  border: 2px solid var(--tp-common-white);
  box-sizing: border-box;
  border-radius: 50%;
  display: grid;
  animation: l2 2s infinite linear;
}
.it-loader:before,
.it-loader:after {
  content: "";
  grid-area: 1/1;
  border: inherit;
  border-radius: 50%;
  animation: inherit;
  animation-duration: 3s;
}
.it-loader:after {
  --s:-1;
}
@keyframes l2 {
   100% {transform:rotate(calc(var(--s,1)*1turn))}
}

// lawyer-loader

.lwr-loader {
  position: relative;
  height: 200px;
  width: 200px;
  border-bottom: 3px solid #185757;
  box-sizing: border-box;
  animation: drawLine 4s linear infinite;
}
.lwr-loader:before {
  content: "";
  position: absolute;
  left: calc(100% + 14px);
  bottom: -6px;
  width: 16px;
  height: 100px;
  border-radius: 20px 20px 50px 50px;
  background-repeat: no-repeat;
  background-image: linear-gradient(#185757 6px, transparent 0),
    linear-gradient(45deg, rgba(0, 0, 0, 0.02) 49%, white 51%),
    linear-gradient(315deg, rgba(0, 0, 0, 0.02) 49%, white 51%),
    linear-gradient( to bottom, #ffffff 10%, #185757 10%, #185757 90%, #ffffff 90% );
  background-size: 3px 3px, 8px 8px, 8px 8px, 16px 88px;
  background-position: center bottom, left 88px, right 88px, left top;
  transform: rotate(25deg);
  animation: pencilRot 4s linear infinite;
}

@keyframes drawLine {
  0%, 100% { width: 0px }
  45%, 55% { width: 200px }
}

@keyframes pencilRot {
  0%, 45% {
    bottom: -6px;
    left: calc(100% + 14px);
    transform: rotate(25deg);
  }
  55%,
  100% {
    bottom: -12px;
    left: calc(100% + 16px);
    transform: rotate(220deg);
  }
}

// medical-loader

/* HTML: <div class="loader"></div> */
.med-loader {
  width: 120px;
  aspect-ratio: 1;
  background: linear-gradient(#dc1818 0 0) bottom/100% 0% no-repeat #ccc;
  -webkit-mask: 
    radial-gradient(circle at 60% 65%, #000 62%, #0000 65%) top left, 
    radial-gradient(circle at 40% 65%, #000 62%, #0000 65%) top right, 
    linear-gradient(to bottom left, #000 42%,#0000 43%) bottom left , 
    linear-gradient(to bottom right,#000 42%,#0000 43%) bottom right;
  -webkit-mask-size: 50% 50%;
  -webkit-mask-repeat: no-repeat;
  animation: l19 2s infinite linear;
}
@keyframes l19 {
    90%,100% {background-size:100% 100%}
}

// pizza-loader
.pizza-loader {
  position: relative;
  width: 120px;
  height: 14px;
  border-radius: 0 0 15px 15px;
  background-color: #3e494d;
  box-shadow: 0 -1px 4px #5d6063 inset;
  animation: panex 0.5s linear alternate infinite;
  transform-origin: 170px 0;
  z-index: 10;
  perspective: 300px;

}
.pizza-loader::before {
content: '';
position: absolute;
left: calc( 100% - 2px);
top: 0;
z-index: -2;
height: 10px;
width: 70px;
border-radius: 0 4px 4px 0;
background-repeat: no-repeat;
background-image: linear-gradient(#6c4924, #4b2d21), linear-gradient(#4d5457 24px, transparent 0), linear-gradient(#9f9e9e 24px, transparent 0);
background-size: 50px 10px , 4px 8px , 24px 4px;
background-position: right center , 17px center , 0px center;
}
.pizza-loader::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  z-index: -2;
  transform: translate(-50% , -20px) rotate3d(75, -2, 3, 78deg);
  width: 55px;
  height: 53px;
  background: #ffb72e;
  background-image:
  radial-gradient(circle 3px , #fff6 90%, transparent 10%),
  radial-gradient(circle 12px , #f43b00 90%, transparent 10%),
  radial-gradient(circle 12px , #f43b00 100%, transparent 0);
  background-repeat: no-repeat;
  background-position: -4px -6px , -2px -2px , -1px -1px;
  box-shadow: -2px -3px #0002 inset, 0 0 4px #0003 inset;
  border-radius: 47% 36% 50% 50% / 49% 45% 42% 44%;
  animation: eggRst 1s ease-out infinite;
}

@keyframes eggRst {
0% ,  100%{  transform: translate(-50%, -20px) rotate3d(90, 0, 0, 90deg); opacity: 0; }
10% , 90% {  transform: translate(-50%, -30px) rotate3d(90, 0, 0, 90deg); opacity: 1; }
25%  {transform:  translate(-50% , -40px) rotate3d(85, 17, 2, 70deg) }
75% {transform:  translate(-50% , -40px) rotate3d(75, -3, 2, 70deg) }
50% {transform:  translate(-55% , -50px) rotate3d(75, -8, 3, 50deg) }
}
@keyframes panex {
0%{  transform: rotate(-5deg)  }
100%{  transform: rotate(10deg)  }
}
