@use '../../utils' as *;

/*----------------------------------------*/
/*  7.2 apoinment css
/*----------------------------------------*/

.#{$theme-prifix}-apoinment{
    &-form{
        @media #{$lg,$md,$sm,$xs} {
            margin-right: 0;
            margin-left: 0;
        }
        & .date-icon, .time-icon { 
            position:relative; 
            input[type="date"]::-webkit-inner-spin-button,
            input[type="date"]::-webkit-calendar-picker-indicator { 
                -webkit-appearance: none;
                opacity: 0;
                -moz-appearance: none;
                appearance: none;
            }
            input[type="time"]::-webkit-inner-spin-button,
            input[type="time"]::-webkit-calendar-picker-indicator { 
                -webkit-appearance: none;
                opacity: 0;
                -moz-appearance: textfield;
                appearance: none;
            }
            &:after {
                content:"\f073";
                font-family: var(--tp-ff-fontawesome);
                right: 30px;
                top: 50%;
                position: absolute;
                pointer-events: none;
                font-size: 18px;
                margin-top: -25px;
            }
            input[type="date"]::-webkit-date-and-time-value {
                text-align: left !important;
            }
        } 
        & .time-icon {
            &:after {
                content:"\e356";
            } 
        }
        & .input, .select, .textarea{
            font-family: var(--tp-ff-roboto);
            font-size: 14px;
            color: var(--tp-grey-9);
            text-transform: capitalize;
            background: var(--tp-common-white);
            border: 1px solid transparent;
            border-radius: 5px;
            height: 54px;
            line-height: 51px;
            padding: 15px 27px;
            padding-right: 12px;
            &:focus{
                box-shadow: 0 0 0 3px rgba(108, 96, 220, 0.15);
                border: 1px solid #6c60dc;
            }
            @include tp-placeholder{
                font-family: var(--tp-ff-roboto);
                font-size: 14px;
                color: var(--tp-grey-9);
            }
        }
        & .select{
            padding: 0 30px;
            font-size: 14px;
            line-height: 55px;
        }
        & .textarea{
            padding-top: 20px;
            height: 144px;
            line-height: 1;
        }
        &-thumb{
            @media #{$lg,$md,$sm,$xs} {
                margin-left: 0;
            }
        }
    }
}

