@use '../../utils' as *;

/*----------------------------------------*/
/*  7.3 apps css
/*----------------------------------------*/

.#{$theme-prifix}-apps{
    &-cpc{
        &-thumb{
            & img{
                mix-blend-mode: luminosity;
            }
        }
        &-item{
            border: 1px solid rgba(255, 255, 255, 0.25);
            padding: 17px 45px 17px 25px;
        }
    }
}