@use '../../utils' as *;

/*----------------------------------------*/
/*  7.6 brand css
/*----------------------------------------*/


.#{$theme-prifix}-brand{
    &-digi{
        &-slider{
            &-active{
                & .swiper-slide {
                    width: 222px;
                    @media #{$sm,$xs} {
                        width: 180px;
                    }
                }
            }
        }
    }
    &-cpr{
        &-slider{
            & .tp-brand-item {
                & img{
                    opacity: .3;
                    @include tp-transition();
                    &:hover{
                        opacity: 1;
                    }
                }
            }
        }
    }
    &-salon{
        &-slider{
            & .tp-brand-item img {
                opacity: 1;
            }
            & .swiper-slide {
                width: 190px;
            }
        }
    }
    &-crt{
        &-slider{
            &-active{
                & .swiper-slide{
                    width: auto;
                    display: inline-block;
                }
                & .tp-brand-item{
                    & span{
                        font-size: 120px;
                        display: inline-block;
                        @media #{$lg,$md,$sm,$xs} {
                            font-size: 90px;
                        }
                    }
                }
            }
        }
    }
    &-it{
        &-border{
            background: rgba(37, 40, 64, 0.15);
            width: 100%;
            height: 1px;
            margin-bottom: -14px;
        }
        &-content{
            & p{
                background: var(--tp-common-white);
                padding: 2px 40px;
            }
        }
        &-2{
            &-item{
                width: 160px;
                height: 160px;
                line-height: 134px;
                box-shadow: 0 15px 35px 0 rgba(15, 21, 43, 0.06);
                z-index: 1;
                border: 10px solid transparent;
                @media #{$xl,$lg,$md,$sm,$xs} {
                    width: 147px;
                    height: 147px;
                    line-height: 124px;
                }
                &:hover{
                    border-color: #00b956;
                    & .tp-brand-it-2-icon{
                        color: var(--tp-common-white);
                        opacity: .3;
                    }
                    & .tp-brand-it-2-slider{
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
            &-slider{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                opacity: 0;
                visibility: hidden;
                transition: all .4s ease;
            }
            &-grid{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
                gap: 10px;
                @media #{$lg,$md} {
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                }
                @media #{$sm,$xs} {
                    grid-template-columns: 1fr 1fr;
                    align-items: center;
                }
                & .item{
                    @media #{$sm,$xs} {
                        margin-top: 15px;
                    }
                }
            }
            &-big{
                &-text{
                    font-size: 260px;
                    z-index: 1;
                    line-height: -13;
                    bottom: -158px;
                    left: 0;
                    right: 0;
                    text-align: center;
                    z-index: -1;
                    @media #{$xl,$lg,$md,$sm,$xs} {
                        top: -100px;
                        bottom: auto;
                        font-size: 200px;
                    }
                    @media #{$md,$sm} {
                        font-size: 120px;
                    }
                    @media #{$xs} {
                        font-size: 70px;
                    }
                }
            }
        }
    }
}