@use '../../utils' as *;

/*----------------------------------------*/
/*  2.9 contact
/*----------------------------------------*/

.#{$theme-prifix}-contact{
    &-digi{
        &-tag{
            & a{
                padding: 2px 12px;
                &:hover{
                    color: var(--tp-common-white);
                    background: var(--tp-common-black);
                }
                &.active{
                    color: var(--tp-common-white);
                    background: var(--tp-common-black);
                }
            }
        }
        &-navigation{
            position: absolute;
            bottom: 60px;
            right: 60px;
            z-index: 2;
            @media #{$md,$sm,$xs} {
                bottom: 10px;
                right: auto;
                left: 10px;
            }
        }
        &-shadow{
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 2;
            border-radius: 6px;
            background: linear-gradient(180deg, rgba(12, 14, 19, 0) 0%, rgba(12, 14, 19, 0.8) 100%);
        }
        &-icon{
            width: 50px;
            height: 50px;
            background: #c8f7fd;
            line-height: 50px;
            &.icon-2{
                background: #ffe0c2;
            }
            &.icon-3{
                background: #d6c8ff;
            }
        }
        &-location{
            position: absolute;
            bottom: 60px;
            left: 63px;
            z-index: 29;
        }
        &-border{
            &::before{
                position: absolute;
                content: "";
                width: 1px;
                height: 20px;
                background:  rgba(255, 255, 255, 0.3);
                top: 2px;
                right: -25px;
            }
        }
        &-call{
            & a{
                display: inline-block;
                width: 244px;
                border-top: 2px solid rgba(255, 255, 255, 0.2);
                border-bottom: 2px solid rgba(255, 255, 255, 0.2);
                padding: 10px 0px;
            }
        }
        &-info{
            &-item{
                @media #{$md,$sm,$xs} {
                    margin-top: 30px;
                }
            }
        }
        &-form{
            &-shape{
                position: absolute;
                right: 0;
                bottom: 40px;
                z-index: -1;
            }
            &-inner{
                @media #{$lg,$md,$sm,$xs} {
                    margin-left: 0;
                }
            }
            &-social{
                & a{
                    width: 36px;
                    height: 36px;
                    border: 1px solid #e5e5e5;
                    border-radius: 20px;
                    text-align: center;
                    line-height: 36px;
                    text-align: center;
                    display: inline-block;
                    &:hover{
                        background: var(--tp-theme-primary);
                        color: var(--tp-common-black);
                        border-color: var(--tp-theme-primary);
                    }
                }
            }
        }
    }
    &-cpr{
        &-info{
            @media #{$md,$sm,$xs} {
                margin-left: 0;
            }
        }
    }
    &-med{
        &-thumb{
            &::after{
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                bottom: 0;
                left: 0;
                background: rgba(43, 38, 93, 0.4);
                border-radius: 10px;
            }
        }
        &-form{
            width: 340px;
            padding: 35px 40px 40px 40px;
            box-shadow: 0 20px 80px 0 rgba(14, 14, 40, 0.25);
            background: var(--tp-common-white);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            right: 0;
            margin: 0 auto;
            z-index: 9;
            @media #{$xs} {
                position: inherit;
                transform: translateY(0)!important;
                margin-top: -50%;
            }
            & .tp-footer-cpr-form{
                & .input, .textarea, .select{
                    font-family: var(--tp-ff-roboto);
                    font-weight: 400;
                    color: var(--tp-grey-9);
                    border-radius: 5px;
                    background: var(--tp-grey-10);
                    height: 44px;
                    line-height: 42px;
                    border: 1px solid transparent;
                    padding: 10px 18px;
                    @include tp-placeholder{
                        font-family: var(--tp-ff-roboto);
                        font-weight: 400;
                        color: var(--tp-grey-9);
                    }
                    &:focus{
                        border-color: #6c60dc;
                        box-shadow: 0 0 0 3px rgba(108, 96, 220, 0.15);
                        background: none;
                    }
                }
                &  .select{
                    padding: 0 18px;
                }
                & .nice-select .current {
                    font-size: 14px;
                    font-family: var(--tp-ff-roboto);
                    font-weight: 400;
                    color: var(--tp-grey-9);
                    text-transform: capitalize;
                }
                & .textarea{
                    height: 94px;
                    line-height: 1.4;
                }
            }
        }
        &-time{
            & ul{
                & li{
                    list-style: none;
                    &:not(:last-child){
                        margin-bottom: 10px;
                    }
                }
            }
        }
        &-social{
            &-ico{
                & a{
                    box-shadow: 0 1px 2px 0 rgba(1, 16, 61, 0.14);
                    background: #f1f1ff;
                }
            }
        }
    }
    &-service{
        &-thumb{
            box-shadow: 10px 10px 80px -30px rgba(94, 94, 149, 0.8);
            background: #f9f9ff;
            border-radius: 10px;
            @media #{$lg,$md,$sm,$xs} {
                margin-right: 0;
            }
        }
    }
    &-country{
        &-info{
            background: #6c60dc;
            border-radius: 10px 0 0 10px;
            display: inline-block;
            width: 858px;
            max-width: 813px;
            padding: 60px 70px 30px 70px;
            position: absolute;
            top: 0;
            right: 0;
            @media #{$md,$sm,$xs} {
                width: 100%;
                position: inherit;
                border-radius: 0;
            }
            @media #{$xs} {
                padding: 20px 20px 0px 20px;
            }
        }
        &-img{
            &-wrap{
                @media #{$md,$sm,$xs} {
                    padding-top: 80px;
                }
            }
        }
    }
    &-salon{
        &-info{
            &:hover{
                & .tp-contact-salon-icon{
                    background: #ffe6f1;
                    border-color: #ffe6f1;
                }
            }
        }
        &-icon{
            width: 50px;
            height: 50px;
            line-height: 50px;
            border: 1px solid rgba(84, 31, 92, 0.1);
            transition: all .4s ease;
        }
        &-form{
            & .tp-contact-salon-inner{
                & .input, .select, .textarea{
                    height: 54px;
                    border-radius: 5px;
                    font-family: var(--tp-ff-roboto);
                    font-size: 14px;
                    color: var(--tp-grey-11);
                    font-weight: 400;
                    border: 1px solid rgba(84, 31, 92, 0.15);
                    &:focus{
                        box-shadow: 0 0 0 3px rgba(239, 64, 116, 0.2);
                        border: 1px solid #ef4074;
                    }
                    @include tp-placeholder{
                        font-family: var(--tp-ff-roboto);
                        font-weight: 400;
                        font-size: 14px;
                        color: var(--tp-grey-11);
                    }
                }
                & .textarea{
                    height: 144px;
                }
                & .nice-select {
                    text-transform: capitalize;
                    font-family: var(--tp-ff-roboto);
                    font-size: 14px;
                    color: var(--tp-grey-11);
                    font-weight: 400;
                    line-height: 50px;
                }
            }
        }
    }
    &-crt{
        &-shape{
            top: 27%;
            right: 0;
            &-2{
                top: 130px;
                left: 0;
            }
            &-3{
                right: 0;
                bottom: 0;
            }
        }
        &-form{
            box-shadow: -15px 15px 60px -10px rgba(34, 29, 61, 0.1);
            padding: 75px 80px 80px 80px;
            border-radius: 5px 0 0 5px;
            @media #{$lg,$md,$sm} {
                padding: 55px 60px 60px 60px;
            }
            @media #{$xs} {
                padding: 25px 30px 30px 30px;
            }
            @media #{$md,$sm,$xs} {
                border-radius: 0;
            }
            & .input, .textarea{
                font-family: var(--tp-ff-open);
                font-weight: 400;
                font-size: 16px;
                color: #696969;
                border: none;
                border-bottom: 1px solid rgba(31, 34, 48, 0.15);
                padding: 0;
                &:focus{
                    border-color: #1f2230;
                }
                @include tp-placeholder{
                    font-family: var(--tp-ff-open);
                    font-weight: 400;
                    font-size: 16px;
                    color: #696969;
                }
            }
            & .textarea{
                height: 72px;
                resize: none;
            }
        }
        &-2{
            &-thumb{
                & img{
                    border-radius: 0 5px 5px 0px;
                    object-fit: cover;
                    @media #{$md,$sm,$xs} {
                        border-radius: 0;
                    }
                }
            }
        }
        &-spacing{
            margin-bottom: -200px;
            z-index: 12;
            position: relative;
            @media #{$md,$sm,$xs} {
                margin-bottom: -100px;
            }
        }
        &-content{
            @media #{$lg,$md,$sm,$xs} {
                margin-right: 0;
                margin-left: 0;
            }
        }
    }
    &-it{
        &-info{
            padding-top: 24px;
            padding-bottom: 30px;
            @media #{$sm,$xs} {
                margin-left: 0;
            }
            &-wrap{
                border-top: 1px solid rgba(37, 40, 64, 0.15);
                @media #{$xs} {
                    border-top: 0;
                }
                & .tp-border{
                    border-right: 1px solid rgba(37, 40, 64, 0.15);
                    @media #{$xs} {
                        border-right: 0;
                        padding-bottom: 0;
                    }
                }
            }
            & span{
                font-family: var(--tp-ff-inter);
                font-weight: 500;
                font-size: 18px;
                letter-spacing: -0.02em;
                color: var(--tp-common-black);
                display: block;
                & svg{
                    margin-right: 20px;
                }
                & a{
                    &:hover{
                        color: var(--tp-grey-4);
                    }
                }
                &:not(:last-child){
                    margin-bottom: 16px;
                }
            }
        }
        &-content{
            @media #{$lg,$md,$sm,$xs} {
                margin-right: 0;
            }
            & p{
                @media #{$xs} {
                    & br{
                        display: none;
                    }
                }
            }
        }
        &-form{
            border: 1px solid rgba(37, 40, 64, 0.15);
            background: var(--tp-common-white);
            & .tp-checkbox:checked {
                background-color: var(--tp-theme-4);
                border-color: var(--tp-theme-4);
            }
            & .tp-checkbox {
                transform: translateY(1px);
            }
        }
    }
    &-pizza{
        &-form{
            &-inner{
                & .tp-postbox-cpr-postbox-form {
                    border: 1px solid rgba(35, 35, 35, 0.1);
                    box-shadow: none;
                }
                & .tp-postbox-cpr-input-group {
                    padding: 20px 30px;
                    border-bottom: 1px solid rgba(35, 35, 35, 0.1);
                    border-right: 1px solid rgba(35, 35, 35, 0.1);
                    margin-right: -2px;
                }
                & .tp-checkbox{
                    margin: 0;
                    appearance: none;
                    -moz-appearance: none;
                    display: block;
                    width: 18px;
                    height: 18px;
                    outline: none;
                    flex : 0 0 auto;
                    box-shadow: inset 0 1px 4px 0 rgba(48, 54, 81, 0.06), 0 1px 1px 0 rgba(48, 54, 81, 0.06);
                    background: transparent;
                    @include tp-transform(translateY(-2.5px));
                    padding: 0;
                    margin-right: 10px;
                    border-radius: 4px;
                    border: 1px solid #a1a5a7;
                    &:checked{
                      position: relative;
                      background-color: var(--tp-theme-5);
                      border-color: transparent;
                      &::after{
                        box-sizing: border-box;
                        position: absolute;
                        content: '\f00c';
                        font-weight: 700;
                        font-family: var(--tp-ff-fontawesome);
                        font-size: 10px;
                        color: var(--tp-common-white);
                        top: 50%;
                        left: 50%;
                        @include tp-transform(translate(-50%, -50%));       
                      }
                    }
                    &:hover{
                      cursor: pointer;
                    }
                }
                & .tp-postbox-cpr-input-group .input {
                    background: none;
                }
            }
        }
    }
    &-lwr{
        &-item{
            padding: 40px 50px 22px 50px;
            &:hover{
                background: var(--tp-common-white);
                box-shadow: 0 10px 40px -10px rgba(22, 21, 43, 0.1);
            }
        }
        &-form{
            & .input, .select, .textarea{
                font-weight: 400;
                font-size: 16px;
                letter-spacing: -0.02em;
                color: var(--tp-grey-7);
                border: 1px solid rgba(28, 78, 78, 0.1);
                border-radius: 5px;
                height: 52px;
                &:focus{
                    border: 1px solid #185757;
                    box-shadow: 0 0 0 3px rgba(24, 87, 87, 0.1);
                    background: #f8f8f8;
                }
                @include tp-placeholder{
                    font-weight: 400;
                    font-size: 16px;
                    letter-spacing: -0.02em;
                    color: var(--tp-grey-7);
                }
            }
            & .textarea{
                height: 143px;
            }
        }
        &-map{
            @media #{$md,$sm,$xs} {
                margin-left: 0;
            }
            & iframe{
                height: 482px;
                width: 100%;
                filter: saturate(0);
                border-radius: 10px;
            }
        }
    }
}