@use '../../utils' as *;

/*----------------------------------------*/
/*  7.15 funfact css
/*----------------------------------------*/

.#{$theme-prifix}-funfact{
    $self: &;
    &-digi{
        &-round{
            &-text{
                background: #f8faf5;
                padding: 10px;
                margin-top: -105px;
                @media #{$sm,$xs} {
                    margin-top: 20px;
                    margin-bottom: 20px;
                }
            }
            &-icon{
                position: absolute;
                top: 26%;
                left: 0;
                right: 0;
                text-align: center;
                width: 60px;
                height: 60px;
                margin: 0 auto;
                line-height: 60px;
            }
        }
        &-content{
            & p{
                margin-left: 400px;
                margin-top: -67px;
                @media #{$sm,$xs} {
                    margin-left: 0;
                    margin-top: 0;
                }
            }
            @media #{$sm,$xs} {
                & h2{
                    & br{
                        display: none;
                    }
                    & span{
                        margin-left: 0;
                    }
                }
            }
        }
        &-border{
            position: relative;
            width: 90px;
            height: 4px;
            background: #f8faf5;
            margin-top: -14px;
            transition: all .5s ease;
            &::before{
                position: absolute;
                content: "";
                left: auto;
                right: 0;
                bottom: 0;
                width: 0;
                height: 4px;
                background: var(--tp-theme-primary);
                transition: all .5s ease;
            }
        }
        &-item{
            &:hover{
                #{$self}{
                    &-digi{
                        &-border{
                            &::before{
                                width: 90px;
                                left: 0;
                                right: auto;
                            }
                        }
                    }
                }
            }
        }
        &-top{
            &-border{
                & > div{
                    border-top: 1px solid var(--tp-border-2);
                    &:not(:last-child){
                        border-right: 1px solid var(--tp-border-2);
                        @media #{$xs} {
                            border-right: 0;
                        }
                    }
                    @media #{$lg,$md,$sm,$xs} {
                        &:nth-child(2){
                            border-right: 0;
                        }
                    }
                }
            }
        }
    }
}