@use '../../utils' as *;

/*----------------------------------------*/
/*  7.16 gallery css
/*----------------------------------------*/

.#{$theme-prifix}-gellary{
    &-icon{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        text-align: center;
        opacity: 0;
        visibility: hidden;
        transition: all .4s ease;
        z-index: 4;
    }
    &-salon{
        &-thumb{
            position: relative;
            &:hover{
                &::before{
                    opacity: 1;
                    visibility: visible;
                }
                & .tp-gellary-icon{
                    opacity: 1;
                    visibility: visible;
                }
            }
            &::before{
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                bottom: 0;
                left: 0;
                border-radius: 10px;
                opacity: 0;
                visibility: hidden;
                transition: all .4s ease;
                z-index: 3;
                background: linear-gradient(180deg, rgba(84, 31, 92, 0.8) 0%, rgba(84, 31, 92, 0.8) 100%);
            }
        }
    }
    &-crt{
        &-item{
            transition: all 0.5s ease-in-out;
            &::after{
                content: "";
                position: absolute;
                width: 100%;
                height: 0;
                background: linear-gradient(180deg, rgba(2, 169, 92, 0) 30%, #02a95c 100%);
                bottom: 0;
                left: 0;
                z-index: 1;
                opacity: 0;
                transition: all 0.5s ease-in-out;
                border-radius: 6px;
            }
            &:hover{
                box-shadow: 0 10px 40px -5px rgba(177, 174, 182, 0.8);
                &::after{
                    opacity: 1;
                    height: 100%;
                }
                & .tp-instagram-icon{
                    opacity: 1;
                    visibility: visible;
                    transform: scale(1);
                }
            }
            & .tp-instagram-icon{
                bottom: 40px;
                left: 0;
                right: 0;
                text-align: center;
                transition: all 0.5s ease;
                visibility: hidden;
                z-index: 8;
                transform: scale(.5);
                opacity: 0;
                & span{
                    & i{
                        width: 40px;
                        height: 40px;
                        border: 2px solid rgba(255, 255, 255, 0.2);
                        line-height: 38px;
                        text-align: center;
                        margin-left: 10px;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}