@use '../../utils' as *;

/*----------------------------------------*/
/*  7.18 history css
/*----------------------------------------*/

.#{$theme-prifix}-history{
    &-pizza{
        &-border{
            width: 100%;
            height: 1px;
            background: #e7e7e7;
        }
        &-thumb{
            text-align: center;
            & .border{
                height: 90px;
                width: 1px;
                background: #d9d9d9;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                margin: 0 auto;
                &-rounded{
                    width: 15px;
                    height: 15px;
                    background: var(--tp-common-black-2);
                    border-radius: 20px;
                    bottom: -8px;
                }
            }
            &.thumb-2{
                & .border{
                    bottom: auto;
                    top: 0;
                    &-rounded{
                        top: -8px;
                    }
                }
            }
        }
        &-cntent{
            padding-left: 70px;
            padding-right: 70px;
        }
        &-slider{
            &-active{
                margin-right: -300px;
                @media #{$md,$sm,$xs} {
                    margin-right: 0;
                }
                & .swiper-slide {
                    width: 790px;
                    display: inline-block;
                }
            }
        }
    }
}