@use '../../utils' as *;

/*----------------------------------------*/
/*  7.20 offer css
/*----------------------------------------*/


.#{$theme-prifix}-offer{
    &-salon{
        &-content{
            padding: 110px 60px 115px 60px;
            @media #{$xs} {
                padding: 70px 25px 70px 25px;
            }
            &::before{
                position: absolute;
                content: "";
                width: 93%;
                height: 90%;
                left: 0;
                right: 0;
                margin: 0 auto;
                border: 2px solid rgba(255, 255, 255, 0.1);
                border-radius: 10px;
                top: 50%;
                transform: translateY(-50%);
            }
            & .tp-btn-salon-lg{
                padding: 8px 27px;
            }
        }
    }
    &-cpc{
        &-item{
            background: #13172c;
            border-radius: 30px;
            width: 100%;
            padding: 15px 15px 15px 15px;
        }
        &-slider{
            &-active{
                & .swiper-slide{
                    display: inline-block;
                    width: 384px;
                    margin: 0 20px;
                }
            }
        }
    }
}