@use '../../utils' as *;

/*----------------------------------------*/
/*  7.27 provide css
/*----------------------------------------*/


.#{$theme-prifix}-provide{
    &-digi{
        &-shape{
            position: absolute;
            top: 0;
            right: 10px;
            z-index: -1;
            width: 53%;
            @media #{$lg,$md,$sm,$xs} {
                width: auto;
            }
            &-2{
                position: absolute;
                z-index: -1;
                bottom: 0;
                right: 0;
                width: 96%;
                @media #{$lg,$md,$sm,$xs} {
                    width: 70%;
                }
            }
            &-3{
                position: absolute;
                bottom: 0;
                right: 0;
                border-radius: 0px 0px 10px 0px;
                @media #{$xl,$lg,$md,$sm,$xs} {
                    width: 130px;
                }
                @media #{$xs} {
                    width: 70px;
                }
            }
        }
        &-chart{
            & img{
                border-radius: 10px 10px 0px 0px;
            }
        }
        &-item{
            @media #{$xl,$lg,$md,$sm,$xs} {
                & br{
                    display: none;
                }
            }
            &.gradiant-bg{
                background: linear-gradient(180deg, #ddff78 0%, #a3ffc7 100%);
                padding: 47px 60px 38px 60px;
                &-2{
                    background: #b0f6ff;
                    padding: 47px 30px 38px 50px;
                    @media #{$xl,$lg,$md,$xs} {
                        padding: 47px 30px 38px 20px;
                    }
                }
                &-3{
                    background: #cfbfff;
                    padding: 47px 0 0 0;
                    height: 100%;
                    @media #{$md,$sm,$xs} {
                        height: 430px;
                    }
                }
                &-4{
                    background: linear-gradient(180deg, #ddff78 0%, #a3ffc7 100%);
                    padding: 70px 60px 70px 60px;
                    @media #{$xs} {
                        padding: 30px 20px 30px 20px;
                    } 
                }
                &-5{
                    background: #c8f7fd;
                    padding: 70px 25px 0 25px; 
                }
            }
        }
        &-list{
            & ul{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                & li{
                    list-style: none;
                    font-weight: 500;
                    font-size: 16px;
                    color: var(--tp-common-black);
                    display: flex;
                    background: var(--tp-common-white);
                    border-radius: 20px;
                    padding: 7px 9px;
                    margin: 0 15px;
                    margin-bottom: 10px;
                    @media #{$xl} {
                        margin: 0 10px;
                    }
                    @media #{$lg,$md,$sm,$xs} {
                        margin-bottom: 20px;
                    }
                    & span{
                        border-radius: 100%;
                        background: #ace601;
                        width: 24px;
                        height: 24px;
                        display: inline-block;
                        text-align: center;
                        line-height: 24px;
                        margin-right: 10px;
                    }
                }
            }
            &.list-2{
                & ul{
                    & li{
                        background: #f8faf5;
                    }
                }
            }
        }
        &-number{
            position: absolute;
            top: 0;
            z-index: -1;
            left: 10px;
            font-weight: 700;
            font-size: 200px;
            line-height: 1;
            background: linear-gradient(180deg, #c2f868 27.5%, #c4ff99 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            &.number-2{
                background: linear-gradient(180deg, #9bedf8 27.5%, #b0f6ff47 61%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            } 
        }
    }
}