@use '../../utils' as *;

/*----------------------------------------*/
/*  7.29 subscribe css
/*----------------------------------------*/

.#{$theme-prifix}-subscribe{
    &-digi{
        &-form{
            width: 950px;
            padding: 55px 10px 10px 10px;
            box-shadow: 0 10px 60px -10px rgba(1, 16, 61, 0.08);
            background: #fefefe;
            position: absolute!important;
            left: 50%;
            top: 50%;
            margin: 0 auto;
            transform: translate(-50%, -50%);
            transition: all 0.3s;
            @media #{$md} {
                width: 750px;
            }
            @media #{$sm} {
                width: 540px;
            }
            @media #{$xs} {
                width: 100%;
            }
            & .close i {
                position: absolute;
                right: 20px;
                top: 20px;
                font-size: 20px;
                cursor: pointer;
                font-weight: 400;
                color: var(--tp-common-black);
                transition: 0.3s;
            }
            &-input{
                width: 533px;
                display: inline-block;
                @media #{$sm} {
                    width: 400px;
                }
                @media #{$xs} {
                    width: 100%;
                }
               & .input{
                    background: #ebfeb2;
                    &:focus{
                        border: 1px solid var(--tp-theme-primary);
                        background: transparent;
                    }
               }
            }
        }
    }
    &-cpr{
        &-form{
            width: 520px;
            padding: 0;
            box-shadow: 0 10px 60px -10px rgba(1, 16, 61, 0.08);
            background: #fefefe;
            position: absolute!important;
            left: 50%;
            top: 50%;
            margin: 0 auto;
            transform: translate(-50%, -50%);
            transition: all 0.3s;
            @media #{$sm} {
                width: 420px;
            }
            @media #{$xs} {
                width: 100%;
            }
            & .close i {
                position: absolute;
                right: 20px;
                top: 20px;
                font-size: 20px;
                cursor: pointer;
                font-weight: 400;
                color: var(--tp-common-black);
                transition: 0.3s;
            }
        }
        &-content{
            padding: 0 45px 60px 45px;
            @media #{$xs} {
                padding: 0 20px 30px 20px;
            }
            & .icon{
                background: var(--tp-grey-6);
                width: 120px;
                height: 120px;
                border-radius: 50%;
                border: 10px solid var(--tp-common-white);
                text-align: center;
                line-height: 104px;
                display: inline-block;
                margin-top: -70px;
            }
        }
    }
    &-salon{
        &-form{
            width: 950px;
            box-shadow: 0 0 80px 0 rgba(84, 31, 92, 0.2);
            position: absolute!important;
            left: 50%;
            top: 50%;
            margin: 0 auto;
            transform: translate(-50%, -50%);
            transition: all 0.3s;
            z-index: 9999;
            @media #{$md} {
                width: 750px;
            }
            @media #{$sm} {
                width: 540px;
            }
            @media #{$xs} {
                width: 100%;
            }
            &-input{
                @media #{$sm,$xs} {
                    flex-direction: column;
                }
            }
        }
        &-thumb{
            width: 440px;
            flex: 0 0 auto;
            height: 100%;
            @media #{$md} {
                width: 345px;
            }
            @media #{$sm,$xs} {
                width: 100%;
            }
            & img{
                border-radius: 10px 0px 0px 10px;
                @media #{$sm,$xs} {
                    border-radius: 10px;
                }
            }
        }
        &-content{
            width: 100%;
            padding: 40px 30px;
            & .tp-checkbox {
                border: 1px solid #968698;
                border-radius: 4px;
                width: 14px;
                height: 14px;
                &:checked{
                    background-color: var(--tp-theme-3);
                }
            }
            & .close{
                position: absolute;
                top: 22px;
                right: 30px;
                & i{
                    font-size: 18px;
                    color: #968698;
                    cursor: pointer;
                    transition: all .4s ease;
                    @media #{$sm,$xs} {
                        color: var(--tp-common-white);
                    }
                    &:hover{
                        color: var(--tp-theme-3);
                    }
                }
            }
        }
        &-shape{
            position: absolute;
            bottom: 0;
            right: 0;
            width: 13%;
        }
    }
}
.subscribe-popup {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1099;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
    margin: 0 auto;
    text-align: center;
}
.subscribe-popup.show {
    visibility: visible;
    opacity: 1;
}
.subscribe-popup .close:hover i {
    transform: rotate(180deg);
}