@use '../../utils' as *;

/*----------------------------------------*/
/*  7.31 team css
/*----------------------------------------*/


.#{$theme-prifix}-team{
    &-digi{
        &-item{
            &:hover{
                & .tp-team-digi-sicial{
                    opacity: 1;
                    -webkit-transform: translateY(0) scale(1, 1);
                    transform: translateY(0) scale(1, 1);
                    & a{
                        opacity: 1;
                        -webkit-transform: translateY(0);
                        transform: translateY(0);
                        &:nth-child(1){
                            -webkit-transition: all .3s ease;
                            transition: all .3s ease;
                        }
                        &:nth-child(2){
                            -webkit-transition: all .6s ease;
                            transition: all .6s ease;
                        }
                        &:nth-child(3){
                            -webkit-transition: all .9s ease;
                            transition: all .9s ease;
                        }
                        &:nth-child(4){
                            -webkit-transition: all 1.1s ease;
                            transition: all 1.1s ease;
                        }
                    }
                }
                & .tp-team-salon-call{
                    & a{
                        -webkit-transition: all 1.1s ease;
                        transition: all 1.1s ease;
                        opacity: 1;
                        -webkit-transform: translateY(0);
                        transform: translateY(0);
                    }
                }
            }
        }
        &-sicial{
            position: absolute;
            bottom: 30px;
            border-radius: 17px;
            padding: 2px 10px 0px 10px;
            width: 125px;
            height: auto;
            left: 0;
            right: 0;
            margin: 0 auto;
            -webkit-transform: translateY(0) scale(1, 0);
            transform: translateY(0) scale(1, 0);
            transform-origin: bottom center;
            position: absolute;
            -webkit-transition: all 350ms cubic-bezier(0.37, 0, 0.63, 1);
            transition: all 350ms cubic-bezier(0.37, 0, 0.63, 1);
            overflow: hidden;
            & a{
                padding: 3px 6px;
                opacity: 0;
                -webkit-transition: .45s cubic-bezier(.19,1,.22,1);
                transition: .45s cubic-bezier(.19,1,.22,1);
                -webkit-transform: translateY(25px);
                transform: translateY(25px);
                &:hover{
                    color: var(--tp-common-black-2);
                }
                &:nth-child(1){
                    -webkit-transition: all .3s ease;
                    transition: all .3s ease;
                }
                &:nth-child(2){
                    -webkit-transition: all .4s ease;
                    transition: all .4s ease;
                }
                &:nth-child(3){
                    -webkit-transition: all .6s ease;
                    transition: all .6s ease;
                }
                &:nth-child(4){
                    -webkit-transition: all .8s ease;
                    transition: all .8s ease;
                }
                & svg{
                    transform: translateY(-3px);
                }
            }
        }
    }
    &-cpr{
        &-social{
            position: absolute;
            bottom: 20px;
            left: 20px;
            width: 86%;
            z-index: 3;
        }
        &-thumb{
            &:hover{
                & .tp-team-cpr-inner{
                    &::before{
                        height: 100%;
                    }
                }
            }
        }
        &-inner{
           &::before{
            position: absolute;
            content: "";
            width: 100%;
            height: 0;
            background: linear-gradient(180deg, rgba(36, 46, 69, 0) 38.02%, #242e45 100%);
            bottom: 0;
            left: 0;
            border-radius: 10px;
            transition: all .5s ease;
            z-index: 2;
           }
        }
        &-link{
            & i{
                border-radius: 100%;
                border: 2px solid rgba(255, 255, 255, 0.2);
                width: 40px;
                height: 40px;
                display: inline-block;
                text-align: center;
                line-height: 40px;
                font-size: 14px;
                transition: all .4s ease;
                margin-left: 7px;
                &:hover{
                    background: var(--tp-common-white);
                    color: var(--tp-common-black-2);
                    border-color: transparent;
                }
            }
            &-2{
                border-radius: 100%;
                width: 40px;
                height: 40px;
                display: inline-block;
                text-align: center;
                line-height: 40px;
                font-size: 16px;
                background: var(--tp-common-white);
                color: var(--tp-common-black-2);
                border: 2px solid transparent;
                transition: all .6s ease;
                transform: translateY(25px);
                &:hover{
                    background: transparent;
                    color: var(--tp-common-white);
                    border-color: rgba(255, 255, 255, 0.2);
                }
            }
        }
    }
    &-lwr{
        &-thumb{
            &::before{
                position: absolute;
                content: "";
                background: linear-gradient(180deg, rgba(8, 41, 41, 0) 45%, #082929 100%);
                width: 100%;
                height: 100%;
                bottom: 0;
                left: 0;
                z-index: 1;
            }
        }
        &-content{
            bottom: 20px;
            left: 0;
            right: 0;
            text-align: center;
            z-index: 2;
        }
        &-social{
            & a{
                &:hover{
                    background: var(--tp-common-apricot);
                }
            }
        }
        &-ratings{
            border: 1px solid rgba(24, 87, 87, 0.15);
            border-radius: 15px;
            padding: 1px 9px;
        }
        &-single{
            border-radius: 15px 0 0 15px;
            @media #{$md,$sm,$xs} {
                border-radius: 0;
            }
            &-thumb{
                margin-top: -44px;
            }
            &-details{
                padding: 20px;
                border-radius: 0 15px 15px 0;
                @media #{$md,$sm,$xs} {
                    border-radius: 0;
                }
                @media #{$xs} {
                    padding: 0;
                    padding-bottom: 20px;    
                }
            }
            &-social{
                box-shadow: 0 4px 20px -4px #e4e4e4;
                padding: 45px 50px 50px 50px;
                @media #{$xs} {
                    padding: 25px 20px 20px 20px;
                }
            }
        }
        &-list{
            display: flex;
            @media #{$lg,$md,$sm,$xs} {
                margin-right: 0;
            }
            @media #{$xs} {
                display: block; 
            }
            & ul{
                & li{
                    color: var(--tp-grey-7);
                    display: flex;
                    & i{
                        transform: translateY(7px);
                    }
                }
            }
        }
        &-award{
            border-top: 1px solid rgba(24, 87, 87, 0.1);
            border-bottom: 1px solid rgba(24, 87, 87, 0.1);
            &-border{
                & > div{
                    padding: 30px 0px 22px 0px;
                    &:not(:last-child){
                        border-right: 1px solid rgba(24, 87, 87, 0.1);
                    }
                    @media #{$sm,$xs} {
                        border: 1px solid rgba(24, 87, 87, 0.1);
                        margin-top: -1px;
                        margin-right: -1px;
                    } 
                }
            }
        }
        &-right{
            @media #{$lg,$md,$sm,$xs} {
                margin-left: 0;
            }
        }
    }
    &-med{
        &-item{
            &:hover{
                & .tp-team-med-overly{
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        &-overly{
            position: absolute;
            background: linear-gradient(180deg, rgba(136, 133, 166, 0) 9.57%, #2b265d 100%);
            width: 100%;
            height: 100%;
            bottom: 0;
            left: 0;
            -webkit-transition: all .4s cubic-bezier(.37,0,.63,1);
            transition: all .4s cubic-bezier(.37,0,.63,1);
            opacity: 0;
            visibility: hidden;
        }
        &-details{
            &-thumb{
                @media #{$lg,$md,$sm,$xs} {
                    margin-right: 0;
                }
                & img{
                    height: 100%;
                    object-fit: cover;
                }
                & .complite-operation{
                    left: 30px;
                    bottom: 30px;
                    backdrop-filter: blur(20px);
                    box-shadow: 0 30px 50px 0 rgba(1, 6, 20, 0.12);
                    background: linear-gradient(180deg, rgba(255, 255, 255, 0.14) 0%, rgba(255, 255, 255, 0) 100%);
                    padding: 30px 41px 22px 41px;
                    @media #{$xs} {
                        padding: 13px 16px 7px 15px;
                        left: 10px;
                        bottom: 10px;
                    }
                    & .icon{
                        width: 50px;
                        height: 50px;
                        line-height: 50px;
                    }
                }
            }
            &-content{
                box-shadow: 0 10px 60px -10px rgba(15, 16, 38, 0.08);
                @media #{$lg,$md,$sm,$xs} {
                    margin-left: 0;
                }
            }
            &-title{
                padding: 55px 45px 25px 60px;
                @media #{$xs} {
                    padding: 27px 15px 16px 25px;
                }
            }
            &-social{
                padding: 36px 60px 60px 60px;
                border-radius: 0px 0px 12px 12px;
                @media #{$xs} {
                    padding: 27px 15px 16px 25px;
                }
                & .tp-footer-digi-sicial a {
                    &:hover{
                        background: var(--tp-theme-1);
                    }
                }
            }
            &-tringle{
                position: absolute;
                top: -10px;
                left: 56px;
            }
        }
    }
    &-salon{
        &-item{
            & .tp-team-med-overly{
                background: linear-gradient(180deg, rgba(32, 3, 36, 0) 35%, #200324 100%);
            }
            & .tp-team-digi-sicial {
                background: none;
                width: auto;
                bottom: 20px;
                left: 10px;
                & a{
                    border: 2px solid rgba(255, 255, 255, 0.14);
                    border-radius: 6px;
                    width: 36px;
                    height: 36px;
                    display: inline-block;
                    margin-right: 8px;
                    line-height: 29px;
                    color: var(--tp-common-white);
                    &:hover{
                        background: var(--tp-common-white);
                        color: var(--tp-common-sky);
                    }
                }
            }
        }
        &-shape{
            position: absolute;
            left: 0;
            top: 122px;
            width: 8%;
        }
        &-call{
            position: absolute;
            bottom: 20px;
            right: 20px;
            & a{
                border-radius: 6px;
                width: 36px;
                height: 36px;
                background: var(--tp-theme-3);
                text-align: center;
                line-height: 36px;
                display: inline-block;
                opacity: 0;
                -webkit-transition: .45s cubic-bezier(.19,1,.22,1);
                transition: .45s cubic-bezier(.19,1,.22,1);
                -webkit-transform: translateY(25px);
                transform: translateY(25px);
            }
        }
    }
    &-crt{
        &-share{
            width: 38px;
            height: 38px;
            line-height: 38px;
            top: -52px;
            z-index: 99;
            left: 0;
            right: 0;
            margin: 0 auto;
        }
        &-item{
            & .tp-team-med-overly {
                background: linear-gradient(180deg, rgba(31, 34, 48, 0) 30%, #1f2230 100%);
            }
            & .tp-team-digi-sicial{
                bottom: 45px;
                & a {
                    color: var(--tp-common-white);
                    &:hover{
                        color: var(--tp-common-yellow);
                    }
                }
            }
        }
    }
    &-it{
        &-wrap{
            & .tp-team-cpr-inner::before {
                background: linear-gradient(180deg, rgba(0, 185, 86, 0) 38.02%, #00b956 100%);
                border-radius: 4px;
            }
        } 
    }
}