@use '../../utils' as *;

/*----------------------------------------*/
/*  7.34 video css
/*----------------------------------------*/


.#{$theme-prifix}-video{
    &-cpr{
        &-wrap{
            padding-top: 280px;
            padding-left: 70px;
            box-shadow: 0 20px 60px 0 rgba(28, 24, 51, 0.25);
            background: #d9d9d9;
            @media #{$md,$sm,$xs} {
                padding-top: 180px;
                padding-bottom: 40px;
            }
            @media #{$sm,$xs} {
                padding-left: 15px;
            }
        }
        &-tag{
            padding: 1px 20px;
            background: #f3513c;
            top: 40px;
            right: 40px;
            position: absolute;
        }
        &-content{
            & h3{
                @media #{$xs} {
                    & br{
                        display: none;
                    }
                }
            }
        }
        &-big{
            &-title{
                font-size: 140px;
                position: absolute;
                bottom: -50px;
                right: -170px;
                @media #{$md,$sm,$xs} {
                    font-size: 100px;
                    bottom: -30px;
                    right: -100px;
                }
                @media #{$xs} {
                    font-size: 85px;
                }
            }
        }
    }
    &-lwr{
        &-content{
            & .tp-btn-video {
                background: var(--tp-common-apricot);
            }
        }
        &-wrap{
            padding-top: 390px;
            padding-left: 85px;
            @media #{$md} {
                padding-top: 300px;
            }
            @media #{$sm} {
                padding-top: 250px;
            }
            @media #{$xs} {
                padding-top: 200px;
                padding-left: 25px;
            }
            &::before{
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                bottom: 0;
                left: 0;
                background: linear-gradient(180deg, rgba(24, 87, 87, 0) 39.5%, #185757 100%);
                border-radius: 10px;
            }
        }
        &-big{
            &-title{
                position: absolute;
                font-size: 140px;
                bottom: -47px;
                right: -25px;
                color: rgba(255, 255, 255, 0.6);
                @media #{$md,$sm,$xs} {
                    font-size: 100px;
                    bottom: -20px;
                    right: -5px;
                }
                @media #{$xs} {
                    font-size: 85px;
                }  
            }
        }
    }
    &-salon{
        &-space{
            @media #{$sm,$xs} {
                padding-bottom: 100px;
            }
        }
    }
    &-crt{
        &-spacing{
            margin-top: -370px;
            position: relative;
            z-index: 1;
        }
        &-wrap{
            padding-top: 280px;
            padding-left: 0;
            box-shadow: 0 10px 70px -10px rgba(92, 92, 92, 0.5);
            background: #bcbcbc;
            @media #{$md,$sm,$xs} {
                padding-top: 180px;
                padding-left: 20px;
                padding-right: 20px;
            }
            @media #{$md,$sm,$xs} {
                padding-bottom: 0;
            }
            & .tp-btn-video{
                margin-right: 0;
                background: var(--tp-common-yellow);
            }
        }
    }
    &-it{
        &-main{
            & .tp-hero-it-bigtext {
                right: -80px;
            }
        }
        &-content{
            padding-top: 330px;
            @media #{$sm,$xs} {
                padding-top: 150px;
            }
           & .tp-btn-video {
            background: var(--tp-theme-4);
        }
        }
    }
}