@forward './hero';
@forward './brand';
@forward './about';
@forward './service';
@forward './funfact';
@forward './portfolio';
@forward './price';
@forward './faq';
@forward './cta';
@forward './counter';
@forward './success';
@forward './provide';
@forward './testimonial';
@forward './process';
@forward './team';
@forward './contact';
@forward './subscribe';
@forward './chose';
@forward './video';
@forward './capabili';
@forward './pagenation';
@forward './map';
@forward './work';
@forward './expert';
@forward './feature';
@forward './banner';
@forward './timetable';
@forward './apoinment';
@forward './offer';
@forward './gallery';
@forward './awards';
@forward './order';
@forward './product';
@forward './history';
@forward './apps';
